{
  "openapi": "3.0.4",
  "info": {
    "title": "OpenAPI",
    "description": "This",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://implementatie.data.vlaanderen.be/",
      "description": "Basis URL"
    }
  ],
  "paths": {
    "/id/Problemdetail/{id}": {
      "get": {
        "summary": "Meer gedetailleerde beschrijving van de fout in een HTTP response.",
        "description": "Dit ter aanvulling van een HTTP statuscode,bijvoorbeeld bij een 400 (Bad request) statuscode om aan te geven waarom de request slecht was. Gebaseerd op <a href=\"https://www.rfc-editor.org/rfc/rfc7807\">RFC7807</a>.",
        "operationId": "ProblemdetailGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Problemdetail object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Problemdetail object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problemdetail"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "ProblemdetailGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    },
    "/id/Envelop/{id}": {
      "get": {
        "summary": "Envelop is het hoofdobject om data uit te wisselen.",
        "description": "Volg de REST richtlijnen van Digitaal Vlaanderen bij het gebruik van deze klasse binnen VDIP.",
        "operationId": "EnvelopGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een Envelop object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelop object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelop"
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "EnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Problemdetail": {
        "title": "Problemdetail",
        "type": "object",
        "description": "Meer gedetailleerde beschrijving van de fout in een HTTP response.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Problemdetail)",
            "pattern": "^Problemdetail$"
          },
          "detail": {
            "type": "object",
            "description": "Mensleesbare beschrijving van de fout.",
            "properties": {
              "@value": {
                "type": "string"
              }
            },
            "required": [
              "@value"
            ]
          },
          "instance": {
            "type": "object",
            "description": "Verwijzing naar de instantie van het object waarop de fout betrekking heeft. Bijvoorbeeld: de verwijzing naar de request.",
            "properties": {
              "@id": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "@id"
            ]
          },
          "status": {
            "type": "object",
            "description": "HTTP foutcode. Zoals beschreven in <a href=\"https://www.rfc-editor.org/rfc/rfc7231\">RFC7231</a>. Bijvoorbeeld: 404 voor \"Not Found\".",
            "properties": {
              "@value": {
                "type": "number",
                "format": "int64"
              },
              "@type": {
                "type": "string",
                "pattern": "^Integer$"
              }
            },
            "required": [
              "@value",
              "@type"
            ]
          },
          "title": {
            "type": "object",
            "description": "Korte mensleesbare beschrijving van de fout.",
            "properties": {
              "@value": {
                "type": "string"
              }
            },
            "required": [
              "@value"
            ]
          },
          "type": {
            "type": "object",
            "description": "Aard van de fout.",
            "properties": {
              "@id": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "@id"
            ]
          }
        },
        "required": [
          "@type",
          "detail",
          "title",
          "type"
        ]
      }
    }
  }
}