openapi: 3.0.4
info:
  title: MAGDA Eucaris Voertuigregistratie REST
  description: MAGDA OSLO-conforme REST API voor voertuigregistraties uit het Eucaris ecosysteem.
  version: 0.2.1
servers:
  - url: https://implementatie.data.vlaanderen.be
    description: Basis URL
paths:
  /id/VehicleRegistrationEnvelope/{id}:
    get:
      summary: Enveloppe om voertuigregistraties en bijhorende validatiewaarschuwing uit te wisselen.
      description: Volg de REST richtlijnen van Digitaal Vlaanderen bij het gebruik van deze klasse binnen VDIP.
      operationId: VehicleRegistrationEnvelopeGET
      parameters:
        - name: id
          required: true
          in: path
          description: Identificator van een VehicleRegistrationEnvelope object.
          schema:
            type: string
      responses:
        '200':
          description: VehicleRegistrationEnvelope object gevonden.
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/VehicleRegistrationEnvelope'
          links:
            VehicleRegistrationEnvelope.data:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                id: $response.body#/VehicleRegistrationEnvelope.data/@id
              description: De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Registratie` op te halen.
            VehicleRegistrationEnvelope.warning:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                id: $response.body#/VehicleRegistrationEnvelope.warning/@id
              description: De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Uitzondering` op te halen.
        '400':
          description: Invalid data supplied.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '401':
          description: Invalid authorization.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '403':
          description: Authentication failed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '404':
          description: Resource not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '412':
          description: Pre-condition failed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '500':
          description: Unexpected Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '502':
          description: Bad Gateway.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '503':
          description: Service unavailable.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
        '504':
          description: Gateway Timeout.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problemdetail'
          links:
            Problemdetail.type:
              operationId: VehicleRegistrationEnvelopeGET
              parameters:
                type: $response.body#/type
              description: De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `Problemdetail` op te halen.
components:
  schemas:
    Problemdetail:
      title: Problemdetail
      type: object
      description: Meer gedetailleerde beschrijving van de fout in een HTTP response.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Problemdetail)
          pattern: ^Problemdetail$
        detail:
          $ref: '#/components/schemas/Problemdetail.detail'
        instance:
          $ref: '#/components/schemas/Problemdetail.instance'
        status:
          $ref: '#/components/schemas/Problemdetail.status'
        title:
          $ref: '#/components/schemas/Problemdetail.title'
        type:
          $ref: '#/components/schemas/Problemdetail.type'
      required:
        - '@type'
        - detail
        - title
        - type
    Problemdetail.detail:
      title: Problemdetail.detail
      description: Mensleesbare beschrijving van de fout.
      type: string
    Problemdetail.instance:
      title: Problemdetail.instance
      description: 'Verwijzing naar de instantie van het object waarop de fout betrekking heeft. Bijvoorbeeld: de verwijzing naar de request.'
      type: string
      format: uri
    Problemdetail.status:
      title: Problemdetail.status
      description: 'HTTP foutcode. Zoals beschreven in <a href="https://www.rfc-editor.org/rfc/rfc7231">RFC7231</a>. Bijvoorbeeld: 404 voor "Not Found".'
      type: number
      format: int64
    Problemdetail.title:
      title: Problemdetail.title
      description: Korte mensleesbare beschrijving van de fout.
      type: string
    Problemdetail.type:
      title: Problemdetail.type
      description: Aard van de fout.
      type: string
      format: uri
    VehicleRegistrationEnvelope.language:
      title: VehicleRegistrationEnvelope.language
      description: De taal van het antwoord.
      type: string
      pattern: ^[a-z]{2,3}(-[A-Z]{2})?
    VehicleRegistrationEnvelope:
      title: VehicleRegistrationEnvelope
      type: object
      description: Enveloppe om voertuigregistraties en bijhorende validatiewaarschuwing uit te wisselen.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse VehicleRegistrationEnvelope)
          pattern: ^VehicleRegistrationEnvelope$
        language:
          $ref: '#/components/schemas/VehicleRegistrationEnvelope.language'
        data:
          $ref: '#/components/schemas/Registratie'
        warning:
          type: array
          description: Foutmeldingen die opgetreden zijn bij het afleveren van de data. Foutmeldingen kunnen ook optreden bij HTTP 200 waarbij validatiefouten worden meegegeven zoals MAGDA Uitzonderingen. Lijst van Uitzondering items.
          items:
            $ref: '#/components/schemas/Uitzondering'
          minItems: 1
        '@context':
          type: string
          description: URI of the JSON-LD versioned context file for this response.
          pattern: ^https:\/\/implementatie.data.vlaanderen.be\/doc\/implementatiemodel\/magda\/voertuigregistratie\/v0.2.1\/context\/voertuigregistratie-im.jsonld$
      required:
        - '@type'
    Geboorte.datum:
      title: Geboorte.datum
      description: Datum waarop de gebeurtenis plaatsvond.
      type: string
      format: date
    Geboorte:
      title: Geboorte
      type: object
      description: Het ter wereld komen van een Persoon.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Geboorte)
          pattern: ^Geboorte$
        datum:
          $ref: '#/components/schemas/Geboorte.datum'
        plaats:
          $ref: '#/components/schemas/Plaats'
      required:
        - '@type'
    Concept.code:
      title: Concept.code
      description: Code waarmee het concept binnen de codelijst wordt aangeduid.
      type: string
    Concept.voorkeursnaam:
      title: Concept.voorkeursnaam
      description: Naam waarmee het concept bij voorkeur wordt aangeduid.
      type: string
    Concept:
      title: Concept
      type: object
      description: Idee of begrip.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Concept)
          pattern: ^Concept$
        code:
          $ref: '#/components/schemas/Concept.code'
        voorkeursnaam:
          $ref: '#/components/schemas/Concept.voorkeursnaam'
      required:
        - '@type'
    Registratie:
      title: Registratie
      type: object
      description: Inschrijving van een Voertuig in een nationaal register.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Registratie)
          pattern: ^Registratie$
        taal:
          $ref: '#/components/schemas/Concept'
        nummerplaat:
          $ref: '#/components/schemas/Nummerplaat'
        houder:
          oneOf:
            - $ref: '#/components/schemas/GeregistreerdeOrganisatie'
            - $ref: '#/components/schemas/GeregistreerdPersoon'
          discriminator:
            propertyName: '@type'
            mapping:
              GeregistreerdeOrganisatie: '#/components/schemas/GeregistreerdeOrganisatie'
              GeregistreerdPersoon: '#/components/schemas/GeregistreerdPersoon'
        voertuig:
          $ref: '#/components/schemas/Voertuig'
      required:
        - '@type'
        - nummerplaat
        - houder
    Nummerplaat.referentiedatum:
      title: Nummerplaat.referentiedatum
      description: Datum waarvoor de toestand van de entiteit opgevraagd is.
      type: string
      format: date-time
    Nummerplaat:
      title: Nummerplaat
      type: object
      description: Fysieke drager van het registratienummer van het Voertuig.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Nummerplaat)
          pattern: ^Nummerplaat$
        referentiedatum:
          $ref: '#/components/schemas/Nummerplaat.referentiedatum'
        registratienummer:
          $ref: '#/components/schemas/Identificator'
      required:
        - '@type'
        - referentiedatum
        - registratienummer
    Uitzondering.datum:
      title: Uitzondering.datum
      description: De datum waarop de Uitzondering aangemaakt werd.
      type: string
      format: date-time
    Uitzondering.diagnose:
      title: Uitzondering.diagnose
      description: Een beschrijving waarom de Uitzondering aangemaakt werd.
      type: string
    Uitzondering:
      title: Uitzondering
      type: object
      description: Uitzondering geeft miet-kritieke problemen weer bij het uitwisselen.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Uitzondering)
          pattern: ^Uitzondering$
        datum:
          $ref: '#/components/schemas/Uitzondering.datum'
        diagnose:
          $ref: '#/components/schemas/Uitzondering.diagnose'
        oorsprong:
          $ref: '#/components/schemas/Concept'
        type:
          $ref: '#/components/schemas/Concept'
        omstandigheid:
          $ref: '#/components/schemas/Concept'
        annotatie:
          type: array
          description: Verwijzing naar annotaties die bij de Uitzondering horen. Lijst van Annotatie items.
          items:
            $ref: '#/components/schemas/Annotatie'
          minItems: 1
      required:
        - '@type'
        - datum
        - diagnose
        - oorsprong
        - type
        - omstandigheid
    Annotatie.naam:
      title: Annotatie.naam
      description: Naam van het veld.
      type: string
    Annotatie.waarde:
      title: Annotatie.waarde
      description: De waarde van het veld.
      type: string
    Annotatie:
      title: Annotatie
      type: object
      description: Detailinformatie die meegegeven is bij een Uitzondering.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Annotatie)
          pattern: ^Annotatie$
        naam:
          $ref: '#/components/schemas/Annotatie.naam'
        waarde:
          $ref: '#/components/schemas/Annotatie.waarde'
      required:
        - '@type'
        - naam
        - waarde
    GeregistreerdeOrganisatie.referentiedatum:
      title: GeregistreerdeOrganisatie.referentiedatum
      description: Datum waarvoor de toestand van de entiteit opgevraagd is.
      type: string
      format: date-time
    GeregistreerdeOrganisatie.voorkeursnaam:
      title: GeregistreerdeOrganisatie.voorkeursnaam
      description: Naam waarmee de Organisatie bij voorkeur wordt aangeduid.
      type: string
    GeregistreerdeOrganisatie:
      title: GeregistreerdeOrganisatie
      type: object
      description: Organisatie met een juridisch statuut vastgelegd door registratie. Vergelijk met een FormeleOrganisatie waarbij dit statuut ook op een andere manier verkregen kan zijn.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse GeregistreerdeOrganisatie)
          pattern: ^GeregistreerdeOrganisatie$
        referentiedatum:
          $ref: '#/components/schemas/GeregistreerdeOrganisatie.referentiedatum'
        voorkeursnaam:
          $ref: '#/components/schemas/GeregistreerdeOrganisatie.voorkeursnaam'
        rechtsvorm:
          type: array
          description: 'Juridisch statuut van de geregistreerde organisatie. Stemt in de KBO overeen met rechtsvorm, bijvoorbeeld: NV, VZW, Stad/Gemeente, OCMW etc. Lijst van Concept items.'
          items:
            $ref: '#/components/schemas/Concept'
          minItems: 1
        contactinfo:
          $ref: '#/components/schemas/Contactpunt'
        rechtspersoonlijkheid:
          $ref: '#/components/schemas/Concept'
        registratie:
          $ref: '#/components/schemas/Identificator'
      required:
        - '@type'
        - referentiedatum
        - voorkeursnaam
        - registratie
    Voertuig.eersteRegistratieDatum:
      title: Voertuig.eersteRegistratieDatum
      description: Eerste datum waarop het voertuig werd geregistreerd in een register.
      type: string
      format: date
    Voertuig.commercieleNaam:
      title: Voertuig.commercieleNaam
      description: 'De commerciële benaming van het voertuig. Bijvoorbeeld: Nissan Micra N-Sport edition.'
      type: string
    Voertuig.fabrikantNaam:
      title: Voertuig.fabrikantNaam
      description: 'De interne benaming van het voertuig door de fabrikant. Bijvoorbeeld: Nissan Micra K14.'
      type: string
    Voertuig:
      title: Voertuig
      type: object
      description: Een voertuig is een apparaat dat ontworpen of gebruikt is om mensen of vracht te vervoeren over land, water, lucht, of door de ruimte.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Voertuig)
          pattern: ^Voertuig$
        eersteRegistratieDatum:
          $ref: '#/components/schemas/Voertuig.eersteRegistratieDatum'
        commercieleNaam:
          $ref: '#/components/schemas/Voertuig.commercieleNaam'
        fabrikantNaam:
          $ref: '#/components/schemas/Voertuig.fabrikantNaam'
        type:
          $ref: '#/components/schemas/Concept'
        vin:
          $ref: '#/components/schemas/Identificator'
        eigenaar:
          oneOf:
            - $ref: '#/components/schemas/GeregistreerdeOrganisatie'
            - $ref: '#/components/schemas/GeregistreerdPersoon'
          discriminator:
            propertyName: '@type'
            mapping:
              GeregistreerdeOrganisatie: '#/components/schemas/GeregistreerdeOrganisatie'
              GeregistreerdPersoon: '#/components/schemas/GeregistreerdPersoon'
      required:
        - '@type'
        - eersteRegistratieDatum
        - commercieleNaam
        - fabrikantNaam
        - type
        - vin
        - eigenaar
    Plaats.plaatsnaam:
      title: Plaats.plaatsnaam
      description: Naam van de plaats of van het gebied.
      type: string
    Plaats:
      title: Plaats
      type: object
      description: Een ruimtelijk gebied of benoemde plaats.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Plaats)
          pattern: ^Plaats$
        plaatsnaam:
          $ref: '#/components/schemas/Plaats.plaatsnaam'
      required:
        - '@type'
    GeregistreerdPersoon.volledigeNaam:
      title: GeregistreerdPersoon.volledigeNaam
      description: De volledige naam van de Persoon, doorgaans de combinatie van voornamen en achternaam.
      type: string
    GeregistreerdPersoon.referentiedatum:
      title: GeregistreerdPersoon.referentiedatum
      description: Datum waarvoor de toestand van de entiteit opgevraagd is.
      type: string
      format: date-time
    GeregistreerdPersoon.achternaam:
      title: GeregistreerdPersoon.achternaam
      description: Gedeelte van de volledige naam van de Persoon ontvangen van de vorige generatie. Ook wel familienaam genoemd omdat de achternaam een familiale verwantschap aanduidt.
      type: string
    GeregistreerdPersoon.alternatieveNaam:
      title: GeregistreerdPersoon.alternatieveNaam
      description: Alternatief voor de volledige naam van de Persoon. Bijvoorbeeld pseudoniem.
      type: string
    GeregistreerdPersoon.voornaam:
      title: GeregistreerdPersoon.voornaam
      description: Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie.
      type: string
    GeregistreerdPersoon:
      title: GeregistreerdPersoon
      type: object
      description: Persoon waarvan de gegevens zijn ingeschreven in een register.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse GeregistreerdPersoon)
          pattern: ^GeregistreerdPersoon$
        volledigeNaam:
          $ref: '#/components/schemas/GeregistreerdPersoon.volledigeNaam'
        referentiedatum:
          $ref: '#/components/schemas/GeregistreerdPersoon.referentiedatum'
        achternaam:
          $ref: '#/components/schemas/GeregistreerdPersoon.achternaam'
        alternatieveNaam:
          type: array
          description: Alternatief voor de volledige naam van de Persoon. Bijvoorbeeld pseudoniem. Lijst van String items.
          items:
            $ref: '#/components/schemas/GeregistreerdPersoon.alternatieveNaam'
          minItems: 1
        voornaam:
          type: array
          description: Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie. Lijst van String items.
          items:
            $ref: '#/components/schemas/GeregistreerdPersoon.voornaam'
          minItems: 1
        registratie:
          $ref: '#/components/schemas/Identificator'
        geslacht:
          $ref: '#/components/schemas/Concept'
        contactinfo:
          $ref: '#/components/schemas/Contactpunt'
        heeftGeboorte:
          $ref: '#/components/schemas/Geboorte'
      required:
        - '@type'
        - volledigeNaam
        - referentiedatum
        - registratie
        - geslacht
    Identificator.identificator:
      title: Identificator.identificator
      description: String gebruikt om het object uniek te identificeren. Type van de string slaat op het identificatiesysteem (inclusief de versie ervan), de string zelf op de eigenlijke identificator.
      type: string
    Identificator:
      title: Identificator
      type: object
      description: Informatie gebruikt om een object uniek te identificeren.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Identificator)
          pattern: ^Identificator$
        identificator:
          $ref: '#/components/schemas/Identificator.identificator'
        schema:
          $ref: '#/components/schemas/Concept'
      required:
        - '@type'
    Adresvoorstelling.landcode:
      title: Adresvoorstelling.landcode
      description: Code van het land waarin het adres gelegen is.
      type: string
    Adresvoorstelling.busnummer:
      title: Adresvoorstelling.busnummer
      description: Officieel toegekende alfanumerieke code die wordt toegevoegd aan het huisnummer om meerdere gebouweenheden, standplaatsen, ligplaatsen of percelen te onderscheiden die eenzelfde huisnummer hebben. Specialisatie van Adresvoorstelling:locatieaanduiding ten behoeve van Belgische adressen.
      type: string
    Adresvoorstelling.gemeentenaam:
      title: Adresvoorstelling.gemeentenaam
      description: Gemeentenaam van het adres.
      type: string
    Adresvoorstelling.huisnummer:
      title: Adresvoorstelling.huisnummer
      description: Alfanumerieke code officieel toegekend aan gebouweenheden, ligplaatsen, standplaatsen of percelen. Specialisatie van Adresvoorstelling:locatieaanduiding ten behoeve van Belgische adressen.
      type: string
    Adresvoorstelling.land:
      title: Adresvoorstelling.land
      description: Land waarin het adres gelegen is.
      type: string
    Adresvoorstelling.postcode:
      title: Adresvoorstelling.postcode
      description: Code waarmee het geografisch gebied dat adressen voor postale doeleinden groepeert wordt aangeduid.
      type: string
    Adresvoorstelling.straatnaam:
      title: Adresvoorstelling.straatnaam
      description: Straatnaam van het adres.
      type: string
    Adresvoorstelling.volledigAdres:
      title: Adresvoorstelling.volledigAdres
      description: Het complete adres in één string, al dan niet geformatteerd. Vermijdt fouten ten gevolge van het opsplitsen van een adres in zijn onderdelen. Geeft de voorgeschreven volgorde van de verschillende onderdelen weer.
      type: string
    Adresvoorstelling:
      title: Adresvoorstelling
      type: object
      description: Meer leesbare voorstelling met enkel de basisgegevens van het adres, bedoeld voor het gebruik van een adres als attribuut van een ander object.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Adresvoorstelling)
          pattern: ^Adresvoorstelling$
        landcode:
          $ref: '#/components/schemas/Adresvoorstelling.landcode'
        busnummer:
          $ref: '#/components/schemas/Adresvoorstelling.busnummer'
        gemeentenaam:
          $ref: '#/components/schemas/Adresvoorstelling.gemeentenaam'
        huisnummer:
          $ref: '#/components/schemas/Adresvoorstelling.huisnummer'
        land:
          $ref: '#/components/schemas/Adresvoorstelling.land'
        postcode:
          $ref: '#/components/schemas/Adresvoorstelling.postcode'
        straatnaam:
          $ref: '#/components/schemas/Adresvoorstelling.straatnaam'
        volledigAdres:
          $ref: '#/components/schemas/Adresvoorstelling.volledigAdres'
      required:
        - '@type'
    Contactpunt:
      title: Contactpunt
      type: object
      description: Informatie zoals email, telefoon, adres die toelaat om iemand of iets te contacteren.
      properties:
        '@id':
          type: string
          format: uri
        '@type':
          type: string
          description: Object type (klasse Contactpunt)
          pattern: ^Contactpunt$
        adres:
          $ref: '#/components/schemas/Adresvoorstelling'
      required:
        - '@type'
