{
  "openapi": "3.0.4",
  "info": {
    "title": "MAGDA geefPersoon REST",
    "description": "MAGDA OSLO-conforme REST API voor geefPersoon (MVP)",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://implementatie.data.vlaanderen.be/",
      "description": "Basis URL"
    }
  ],
  "paths": {
    "/id/VdipEnvelop/{id}": {
      "get": {
        "summary": "Vlaams Data Integratieplatform (VDIP) data enveloppe volgens de REST richtlijnen.",
        "description": "Volg de REST richtlijnen van Digitaal Vlaanderen bij het gebruik van deze klasse binnen VDIP.",
        "operationId": "VdipEnvelopGET",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Identificator van een VdipEnvelop object.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VdipEnvelop object gevonden.",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/VdipEnvelop"
                }
              }
            },
            "links": {
              "VdipEnvelop.warning": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "id": "$response.body#/VdipEnvelop.warning/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `Probleemdetail` op te halen."
              },
              "VdipEnvelop.data": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "id": "$response.body#/VdipEnvelop.data/@id"
                },
                "description": "De waarde van het attribuut `@id` kan gebruikt worden om het gerefereerde object van het type `GeregistreerdPersoon` op te halen."
              }
            }
          },
          "400": {
            "description": "Invalid data supplied.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "401": {
            "description": "Invalid authorization.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "403": {
            "description": "Authentication failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "412": {
            "description": "Pre-condition failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "500": {
            "description": "Unexpected Server Error.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          },
          "504": {
            "description": "Gateway Timeout.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Probleemdetail"
                }
              }
            },
            "links": {
              "Probleemdetail.type": {
                "operationId": "VdipEnvelopGET",
                "parameters": {
                  "type": "$response.body#/type"
                },
                "description": "De waarde van het attribuut `type` kan gebruikt worden om het gerefereerde object van het type `ProblemDetails` op te halen."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Persoon.voornaam": {
        "title": "Persoon.voornaam",
        "type": "object",
        "description": "Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Persoon.achternaam": {
        "title": "Persoon.achternaam",
        "type": "object",
        "description": "Gedeelte van de volledige naam van de Persoon ontvangen van de vorige generatie. Ook wel familienaam genoemd omdat de achternaam een familiale verwantschap aanduidt.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Persoon.creatiedatum": {
        "title": "Persoon.creatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens zijn ingevoerd.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Persoon.modificatiedatum": {
        "title": "Persoon.modificatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens werden bijgewerkt.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Persoon": {
        "title": "Persoon",
        "type": "object",
        "description": "Natuurlijk persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Persoon)",
            "pattern": "^Persoon$"
          },
          "voornaam": {
            "type": "array",
            "description": "Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie. Lijst van String items.",
            "items": {
              "$ref": "#/components/schemas/Persoon.voornaam"
            },
            "minItems": 1
          },
          "achternaam": {
            "type": "array",
            "description": "Gedeelte van de volledige naam van de Persoon ontvangen van de vorige generatie. Ook wel familienaam genoemd omdat de achternaam een familiale verwantschap aanduidt. Lijst van String items.",
            "items": {
              "$ref": "#/components/schemas/Persoon.achternaam"
            },
            "minItems": 1
          },
          "contactinfo": {
            "$ref": "#/components/schemas/Contactinfo"
          },
          "geslacht": {
            "$ref": "#/components/schemas/Geslacht"
          },
          "isHoofdVan": {
            "$ref": "#/components/schemas/Gezin"
          },
          "heeftBurgerlijkeStaat": {
            "$ref": "#/components/schemas/BurgerlijkeStaat"
          },
          "heeftGeboorte": {
            "$ref": "#/components/schemas/Geboorte"
          },
          "heeftOverlijden": {
            "$ref": "#/components/schemas/Overlijden"
          },
          "heeftInwonerschap": {
            "type": "array",
            "description": "Inwonerschap van de persoon. Lijst van Inwonerschap items.",
            "items": {
              "$ref": "#/components/schemas/Inwonerschap"
            },
            "minItems": 1
          },
          "heeftPersoonsrelatie": {
            "type": "array",
            "description": "Persoonsrelatie van de persoon. Lijst van Persoonsrelatie items.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Gezinsrelatie"
                },
                {
                  "$ref": "#/components/schemas/Huwelijk"
                },
                {
                  "$ref": "#/components/schemas/Samenwonen"
                },
                {
                  "$ref": "#/components/schemas/Afstamming"
                }
              ],
              "discriminator": {
                "propertyName": "@type",
                "mapping": {
                  "Gezinsrelatie": "#/components/schemas/Gezinsrelatie",
                  "Huwelijk": "#/components/schemas/Huwelijk",
                  "Samenwonen": "#/components/schemas/Samenwonen",
                  "Afstamming": "#/components/schemas/Afstamming"
                }
              }
            },
            "minItems": 1
          },
          "isLidVan": {
            "type": "array",
            "description": "Persoon die tot een Gezin behoort. Lijst van Gezin items.",
            "items": {
              "$ref": "#/components/schemas/Gezin"
            },
            "minItems": 1
          },
          "creatiedatum": {
            "$ref": "#/components/schemas/Persoon.creatiedatum"
          },
          "modificatiedatum": {
            "$ref": "#/components/schemas/Persoon.modificatiedatum"
          },
          "bron": {
            "$ref": "#/components/schemas/Organisatie"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Plaats.plaatsnaam": {
        "title": "Plaats.plaatsnaam",
        "type": "object",
        "description": "Naam van de plaats of van het gebied.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Plaats.land": {
        "title": "Plaats.land",
        "type": "object",
        "description": "Land waartoe de administratieveeenheid behoort.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Plaats": {
        "title": "Plaats",
        "type": "object",
        "description": "Een ruimtelijk gebied of benoemde plaats.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Plaats)",
            "pattern": "^Plaats$"
          },
          "plaatsnaam": {
            "$ref": "#/components/schemas/Plaats.plaatsnaam"
          },
          "land": {
            "$ref": "#/components/schemas/Plaats.land"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Gezinsrelatie": {
        "title": "Gezinsrelatie",
        "type": "object",
        "description": "Relatie tussen leden van eenzelfde gezin.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Gezinsrelatie)",
            "pattern": "^Gezinsrelatie$"
          },
          "gezinsrelatietype": {
            "$ref": "#/components/schemas/Gezinsrelatietype"
          },
          "metPersoon": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Persoon"
              },
              {
                "$ref": "#/components/schemas/GeregistreerdPersoon"
              }
            ],
            "discriminator": {
              "propertyName": "@type",
              "mapping": {
                "Persoon": "#/components/schemas/Persoon",
                "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
              }
            }
          }
        },
        "required": [
          "@type",
          "metPersoon"
        ]
      },
      "Overlijden.datum": {
        "title": "Overlijden.datum",
        "type": "object",
        "description": "Datum waarop de gebeurtenis plaatsvond.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Overlijden": {
        "title": "Overlijden",
        "type": "object",
        "description": "Het doodgaan van een Persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Overlijden)",
            "pattern": "^Overlijden$"
          },
          "datum": {
            "$ref": "#/components/schemas/Overlijden.datum"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Persoonsgebeurtenis.datum": {
        "title": "Persoonsgebeurtenis.datum",
        "type": "object",
        "description": "Datum waarop de gebeurtenis plaatsvond.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Persoonsgebeurtenis": {
        "title": "Persoonsgebeurtenis",
        "type": "object",
        "description": "Belangrijke gebeurtenis in het leven van een Persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Persoonsgebeurtenis)",
            "pattern": "^Persoonsgebeurtenis$"
          },
          "datum": {
            "$ref": "#/components/schemas/Persoonsgebeurtenis.datum"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Geboorte.datum": {
        "title": "Geboorte.datum",
        "type": "object",
        "description": "Datum waarop de gebeurtenis plaatsvond.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Geboorte": {
        "title": "Geboorte",
        "type": "object",
        "description": "Het ter wereld komen van een Persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Geboorte)",
            "pattern": "^Geboorte$"
          },
          "datum": {
            "$ref": "#/components/schemas/Geboorte.datum"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Huwelijk": {
        "title": "Huwelijk",
        "type": "object",
        "description": "Een door burgerlijk of religieus recht geregelde samenlevingsvorm van twee personen.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Huwelijk)",
            "pattern": "^Huwelijk$"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          },
          "metPersoon": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Persoon"
              },
              {
                "$ref": "#/components/schemas/GeregistreerdPersoon"
              }
            ],
            "discriminator": {
              "propertyName": "@type",
              "mapping": {
                "Persoon": "#/components/schemas/Persoon",
                "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
              }
            }
          }
        },
        "required": [
          "@type",
          "metPersoon"
        ]
      },
      "Versie.creatiedatum": {
        "title": "Versie.creatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens zijn ingevoerd.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Versie.modificatiedatum": {
        "title": "Versie.modificatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens werden bijgewerkt.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Versie": {
        "title": "Versie",
        "type": "object",
        "description": "Entiteit gedurende een bepaalde periode in de databank.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Versie)",
            "pattern": "^Versie$"
          },
          "creatiedatum": {
            "$ref": "#/components/schemas/Versie.creatiedatum"
          },
          "modificatiedatum": {
            "$ref": "#/components/schemas/Versie.modificatiedatum"
          },
          "bron": {
            "$ref": "#/components/schemas/Organisatie"
          }
        },
        "required": [
          "@type"
        ]
      },
      "FormeleOrganisatie": {
        "title": "FormeleOrganisatie",
        "type": "object",
        "description": "Een erkende Organisatie,erkend in brede zin of  meer specifiek in juridische zin met bijbehorende rechten en plichten.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse FormeleOrganisatie)",
            "pattern": "^FormeleOrganisatie$"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Probleemdetail.type": {
        "title": "Probleemdetail.type",
        "type": "object",
        "description": "Aard van de fout.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "pattern": "^AnyURI$"
          }
        },
        "required": [
          "@id",
          "@type"
        ]
      },
      "Probleemdetail.titel": {
        "title": "Probleemdetail.titel",
        "type": "object",
        "description": "Korte mensleesbare beschrijving van de fout.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Probleemdetail.status": {
        "title": "Probleemdetail.status",
        "type": "object",
        "description": "HTTP foutcode. Zoals beschreven in <a href=\"https://www.rfc-editor.org/rfc/rfc7231\">RFC7231</a>. Bijvoorbeeld: 404 voor \"Not Found\".",
        "properties": {
          "@value": {
            "type": "number",
            "format": "int64"
          },
          "@type": {
            "type": "string",
            "pattern": "^Integer$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Probleemdetail.detail": {
        "title": "Probleemdetail.detail",
        "type": "object",
        "description": "Mensleesbare beschrijving van de fout.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Probleemdetail.instantie": {
        "title": "Probleemdetail.instantie",
        "type": "object",
        "description": "Verwijzing naar de instantie van het object waarop de fout betrekking heeft. Bijvoorbeeld: de verwijzing naar de request.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "pattern": "^AnyURI$"
          }
        },
        "required": [
          "@id",
          "@type"
        ]
      },
      "Probleemdetail": {
        "title": "Probleemdetail",
        "type": "object",
        "description": "Meer gedetailleerde beschrijving van de fout in een HTTP response.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Probleemdetail)",
            "pattern": "^Probleemdetail$"
          },
          "type": {
            "$ref": "#/components/schemas/Probleemdetail.type"
          },
          "titel": {
            "$ref": "#/components/schemas/Probleemdetail.titel"
          },
          "status": {
            "$ref": "#/components/schemas/Probleemdetail.status"
          },
          "detail": {
            "$ref": "#/components/schemas/Probleemdetail.detail"
          },
          "instantie": {
            "$ref": "#/components/schemas/Probleemdetail.instantie"
          }
        },
        "required": [
          "@type",
          "type",
          "titel"
        ]
      },
      "VdipEnvelop": {
        "title": "VdipEnvelop",
        "type": "object",
        "description": "Vlaams Data Integratieplatform (VDIP) data enveloppe volgens de REST richtlijnen.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse VdipEnvelop)",
            "pattern": "^VdipEnvelop$"
          },
          "warning": {
            "type": "array",
            "description": "Foutmeldingen die opgetreden zijn bij het afleveren van de data. Foutmeldingen kunnen ook optreden bij HTTP 200 waarbij validatiefouten worden meegegeven zoals MAGDA Uitzonderingen. Lijst van Probleemdetail items.",
            "items": {
              "$ref": "#/components/schemas/Probleemdetail"
            },
            "minItems": 1
          },
          "data": {
            "$ref": "#/components/schemas/GeregistreerdPersoon"
          },
          "@context": {
            "type": "string",
            "description": "URI of the JSON-LD versioned context file for this response.",
            "pattern": "^https:\\/\\/implementatie.data.vlaanderen.be\\/\\/doc\\/implementatiemodel\\/magda\\/persoon\\/v0.1.1\\/context\\/persoon.jsonld$"
          }
        },
        "required": [
          "@type",
          "data"
        ]
      },
      "Inwonerschap": {
        "title": "Inwonerschap",
        "type": "object",
        "description": "Het feit dat een Persoon verblijf houdt in een plaats of land.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Inwonerschap)",
            "pattern": "^Inwonerschap$"
          },
          "jurisdictie": {
            "$ref": "#/components/schemas/Jurisdictie"
          },
          "heeftVerblijfplaats": {
            "type": "array",
            "description": "Plaats waar een persoon verblijft. Lijst van Verblijfplaats items.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Domicilie"
                },
                {
                  "$ref": "#/components/schemas/Postadres"
                },
                {
                  "$ref": "#/components/schemas/VerblijfplaatsBuitenland"
                },
                {
                  "$ref": "#/components/schemas/WettelijkVerblijf"
                }
              ],
              "discriminator": {
                "propertyName": "@type",
                "mapping": {
                  "Domicilie": "#/components/schemas/Domicilie",
                  "Postadres": "#/components/schemas/Postadres",
                  "VerblijfplaatsBuitenland": "#/components/schemas/VerblijfplaatsBuitenland",
                  "WettelijkVerblijf": "#/components/schemas/WettelijkVerblijf"
                }
              }
            },
            "minItems": 1
          }
        },
        "required": [
          "@type",
          "jurisdictie"
        ]
      },
      "Samenwonen": {
        "title": "Samenwonen",
        "type": "object",
        "description": "Regeling waarbij twee personen die niet getrouwd zijn samenleven.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Samenwonen)",
            "pattern": "^Samenwonen$"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          },
          "metPersoon": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Persoon"
              },
              {
                "$ref": "#/components/schemas/GeregistreerdPersoon"
              }
            ],
            "discriminator": {
              "propertyName": "@type",
              "mapping": {
                "Persoon": "#/components/schemas/Persoon",
                "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
              }
            }
          }
        },
        "required": [
          "@type",
          "metPersoon"
        ]
      },
      "GeregistreerdPersoon.voornaam": {
        "title": "GeregistreerdPersoon.voornaam",
        "type": "object",
        "description": "Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "GeregistreerdPersoon.achternaam": {
        "title": "GeregistreerdPersoon.achternaam",
        "type": "object",
        "description": "Gedeelte van de volledige naam van de Persoon ontvangen van de vorige generatie. Ook wel familienaam genoemd omdat de achternaam een familiale verwantschap aanduidt.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "GeregistreerdPersoon.creatiedatum": {
        "title": "GeregistreerdPersoon.creatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens zijn ingevoerd.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "GeregistreerdPersoon.modificatiedatum": {
        "title": "GeregistreerdPersoon.modificatiedatum",
        "type": "object",
        "description": "Datum waarop de gegevens werden bijgewerkt.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "GeregistreerdPersoon": {
        "title": "GeregistreerdPersoon",
        "type": "object",
        "description": "Persoon waarvan de gegevens zijn ingeschreven in een register.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse GeregistreerdPersoon)",
            "pattern": "^GeregistreerdPersoon$"
          },
          "registratie": {
            "$ref": "#/components/schemas/Identificator"
          },
          "dossierstatus": {
            "$ref": "#/components/schemas/Dossierstatus"
          },
          "vorigeRegistratie": {
            "$ref": "#/components/schemas/Identificator"
          },
          "redenAfwezigheid": {
            "$ref": "#/components/schemas/RedenAfwezigheid"
          },
          "beheerder": {
            "type": "array",
            "description": "Verwijzing naar de Adminstratiefbeheerder van het dossier van de persoon. Normaal is er maar 1 beheerder aanwezig bij een persoon, maar in uitzonderlijke gevallen kunnen er meerdere beheerders zijn. Bijvoorbeeld: de persoon heeft een adres in het buitenland, is aan het verhuizen tussen gemeenten, etc. Lijst van AdministratiefBeheerder items.",
            "items": {
              "$ref": "#/components/schemas/AdministratiefBeheerder"
            },
            "minItems": 1
          },
          "voornaam": {
            "type": "array",
            "description": "Naam die een Persoon bij geboorte wordt gegeven. Onderscheidt de Persoon van de andere personen in de familie. Lijst van String items.",
            "items": {
              "$ref": "#/components/schemas/GeregistreerdPersoon.voornaam"
            },
            "minItems": 1
          },
          "achternaam": {
            "type": "array",
            "description": "Gedeelte van de volledige naam van de Persoon ontvangen van de vorige generatie. Ook wel familienaam genoemd omdat de achternaam een familiale verwantschap aanduidt. Lijst van String items.",
            "items": {
              "$ref": "#/components/schemas/GeregistreerdPersoon.achternaam"
            },
            "minItems": 1
          },
          "contactinfo": {
            "$ref": "#/components/schemas/Contactinfo"
          },
          "geslacht": {
            "$ref": "#/components/schemas/Geslacht"
          },
          "isHoofdVan": {
            "$ref": "#/components/schemas/Gezin"
          },
          "heeftBurgerlijkeStaat": {
            "$ref": "#/components/schemas/BurgerlijkeStaat"
          },
          "heeftGeboorte": {
            "$ref": "#/components/schemas/Geboorte"
          },
          "heeftOverlijden": {
            "$ref": "#/components/schemas/Overlijden"
          },
          "heeftInwonerschap": {
            "type": "array",
            "description": "Inwonerschap van de persoon. Lijst van Inwonerschap items.",
            "items": {
              "$ref": "#/components/schemas/Inwonerschap"
            },
            "minItems": 1
          },
          "heeftPersoonsrelatie": {
            "type": "array",
            "description": "Persoonsrelatie van de persoon. Lijst van Persoonsrelatie items.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Gezinsrelatie"
                },
                {
                  "$ref": "#/components/schemas/Huwelijk"
                },
                {
                  "$ref": "#/components/schemas/Samenwonen"
                },
                {
                  "$ref": "#/components/schemas/Afstamming"
                }
              ],
              "discriminator": {
                "propertyName": "@type",
                "mapping": {
                  "Gezinsrelatie": "#/components/schemas/Gezinsrelatie",
                  "Huwelijk": "#/components/schemas/Huwelijk",
                  "Samenwonen": "#/components/schemas/Samenwonen",
                  "Afstamming": "#/components/schemas/Afstamming"
                }
              }
            },
            "minItems": 1
          },
          "isLidVan": {
            "type": "array",
            "description": "Persoon die tot een Gezin behoort. Lijst van Gezin items.",
            "items": {
              "$ref": "#/components/schemas/Gezin"
            },
            "minItems": 1
          },
          "creatiedatum": {
            "$ref": "#/components/schemas/GeregistreerdPersoon.creatiedatum"
          },
          "modificatiedatum": {
            "$ref": "#/components/schemas/GeregistreerdPersoon.modificatiedatum"
          },
          "bron": {
            "$ref": "#/components/schemas/Organisatie"
          }
        },
        "required": [
          "@type",
          "registratie"
        ]
      },
      "Domicilie": {
        "title": "Domicilie",
        "type": "object",
        "description": "Hoofdverblijfplaats van een Persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Domicilie)",
            "pattern": "^Domicilie$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          },
          "status": {
            "$ref": "#/components/schemas/DomicilieStatus"
          },
          "nietMededeelbaar": {
            "$ref": "#/components/schemas/NietMededeelbaar"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Afstamming.datumVanAfstamming": {
        "title": "Afstamming.datumVanAfstamming",
        "type": "object",
        "description": "De datum waarop de afstamming wordt vastgesteld.",
        "properties": {
          "@value": {
            "type": "string",
            "format": "date"
          },
          "@type": {
            "type": "string",
            "pattern": "^Date$"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Afstamming": {
        "title": "Afstamming",
        "type": "object",
        "description": "Afstamming is de dalende lijn van bloedverwantschap tussen verschillende generaties.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Afstamming)",
            "pattern": "^Afstamming$"
          },
          "datumVanAfstamming": {
            "$ref": "#/components/schemas/Afstamming.datumVanAfstamming"
          },
          "afstammingstype": {
            "$ref": "#/components/schemas/Afstammingstype"
          },
          "metPersoon": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Persoon"
              },
              {
                "$ref": "#/components/schemas/GeregistreerdPersoon"
              }
            ],
            "discriminator": {
              "propertyName": "@type",
              "mapping": {
                "Persoon": "#/components/schemas/Persoon",
                "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
              }
            }
          }
        },
        "required": [
          "@type",
          "metPersoon"
        ]
      },
      "AangegevenAdres": {
        "title": "AangegevenAdres",
        "type": "object",
        "description": "Adres dat door een persoon wordt opgegeven als hoofdverblijplaats.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse AangegevenAdres)",
            "pattern": "^AangegevenAdres$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          },
          "status": {
            "$ref": "#/components/schemas/DomicilieStatus"
          },
          "nietMededeelbaar": {
            "$ref": "#/components/schemas/NietMededeelbaar"
          }
        },
        "required": [
          "@type"
        ]
      },
      "BelgischAdres": {
        "title": "BelgischAdres",
        "type": "object",
        "description": "Informatie die toelaat om op een gestructureerde en unieke manier te verwijzen naar een gebouweenheid, een ligplaats, een standplaats of een perceel op basis van een gemeentenaam, een straatnaam, een huisnummer en eventueel een busnummer en een postcode.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse BelgischAdres)",
            "pattern": "^BelgischAdres$"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Jurisdictie": {
        "title": "Jurisdictie",
        "type": "object",
        "description": "Het gebied waarover de rechtsmacht van een overheid zich uitstrekt.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Jurisdictie)",
            "pattern": "^Jurisdictie$"
          },
          "plaats": {
            "$ref": "#/components/schemas/Plaats"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Gezin": {
        "title": "Gezin",
        "type": "object",
        "description": "Samenwerkingsvorm die een herkenbare sociale eenheid vormt (bijvoorbeeld ten gevolge van een huwelijk), met al dan niet verwante personen die duurzame banden hebben en elkaar onderling steun en verzorging verlenen.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Gezin)",
            "pattern": "^Gezin$"
          },
          "gezinsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          },
          "woonvorm": {
            "$ref": "#/components/schemas/Woonvormtype"
          },
          "gezinshoofd": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Persoon"
              },
              {
                "$ref": "#/components/schemas/GeregistreerdPersoon"
              }
            ],
            "discriminator": {
              "propertyName": "@type",
              "mapping": {
                "Persoon": "#/components/schemas/Persoon",
                "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
              }
            }
          },
          "gezinslid": {
            "type": "array",
            "description": "Personen waaruit het gezin bestaat. Lijst van Persoon items.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Persoon"
                },
                {
                  "$ref": "#/components/schemas/GeregistreerdPersoon"
                }
              ],
              "discriminator": {
                "propertyName": "@type",
                "mapping": {
                  "Persoon": "#/components/schemas/Persoon",
                  "GeregistreerdPersoon": "#/components/schemas/GeregistreerdPersoon"
                }
              }
            },
            "minItems": 1
          }
        },
        "required": [
          "@type"
        ]
      },
      "BurgerlijkeStaat": {
        "title": "BurgerlijkeStaat",
        "type": "object",
        "description": "Burgerrechtelijke toestand van een Persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse BurgerlijkeStaat)",
            "pattern": "^BurgerlijkeStaat$"
          },
          "type": {
            "$ref": "#/components/schemas/BurgerlijkeStaatType"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Organisatie.voorkeursnaam": {
        "title": "Organisatie.voorkeursnaam",
        "type": "object",
        "description": "Naam waarmee de Organisatie bij voorkeur wordt aangeduid.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Organisatie": {
        "title": "Organisatie",
        "type": "object",
        "description": "Een aantal mensen georganiseerd in een gemeenschap of andere sociale, commerciële of politieke structuur. De groep heeft een gemeenschappelijk doel of bestaansreden die de individuele leden ervan overstijgt en kan handelen als agent. Een Organisatie heeft dikwijls een hiërarchische structuur.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Organisatie)",
            "pattern": "^Organisatie$"
          },
          "voorkeursnaam": {
            "$ref": "#/components/schemas/Organisatie.voorkeursnaam"
          },
          "identificator": {
            "$ref": "#/components/schemas/Identificator"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Postadres": {
        "title": "Postadres",
        "type": "object",
        "description": "Postadres van de verblijfplaats van een persoon.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Postadres)",
            "pattern": "^Postadres$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Referentieadres": {
        "title": "Referentieadres",
        "type": "object",
        "description": "Adres van een andere persoon of rechtspersoon voor personen zonder vaste verblijfplaats.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Referentieadres)",
            "pattern": "^Referentieadres$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          },
          "status": {
            "$ref": "#/components/schemas/DomicilieStatus"
          },
          "nietMededeelbaar": {
            "$ref": "#/components/schemas/NietMededeelbaar"
          }
        },
        "required": [
          "@type"
        ]
      },
      "VerblijfplaatsBuitenlandDomicilie": {
        "title": "VerblijfplaatsBuitenlandDomicilie",
        "type": "object",
        "description": "Hoofdverblijplaats in het buitenland.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse VerblijfplaatsBuitenlandDomicilie)",
            "pattern": "^VerblijfplaatsBuitenlandDomicilie$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          },
          "status": {
            "$ref": "#/components/schemas/DomicilieStatus"
          },
          "nietMededeelbaar": {
            "$ref": "#/components/schemas/NietMededeelbaar"
          }
        },
        "required": [
          "@type"
        ]
      },
      "VerblijfplaatsBuitenland": {
        "title": "VerblijfplaatsBuitenland",
        "type": "object",
        "description": "Verblijplaats in het buitenland.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse VerblijfplaatsBuitenland)",
            "pattern": "^VerblijfplaatsBuitenland$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          }
        },
        "required": [
          "@type"
        ]
      },
      "WettelijkVerblijf": {
        "title": "WettelijkVerblijf",
        "type": "object",
        "description": "Juridisch vastgelegde verblijplaats.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse WettelijkVerblijf)",
            "pattern": "^WettelijkVerblijf$"
          },
          "verblijfsadres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          }
        },
        "required": [
          "@type"
        ]
      },
      "AdministratiefBeheerder.voorkeursnaam": {
        "title": "AdministratiefBeheerder.voorkeursnaam",
        "type": "object",
        "description": "Naam waarmee de Organisatie bij voorkeur wordt aangeduid.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "AdministratiefBeheerder": {
        "title": "AdministratiefBeheerder",
        "type": "object",
        "description": "Organisatie die het dossier van de persoon in het register beheert.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse AdministratiefBeheerder)",
            "pattern": "^AdministratiefBeheerder$"
          },
          "type": {
            "$ref": "#/components/schemas/AdministratiefBeheerdertype"
          },
          "voorkeursnaam": {
            "$ref": "#/components/schemas/AdministratiefBeheerder.voorkeursnaam"
          },
          "identificator": {
            "$ref": "#/components/schemas/Identificator"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Locatie": {
        "title": "Locatie",
        "type": "object",
        "description": "Een locatie kan een identificeerbare geografische locatie zijn (ISO 19112), maar deze locatie kan ook een niet-geografische locatie zijn, zoals een directory, rij of kolom. Als zodanig zijn er talloze manieren waarop locatie kan worden uitgedrukt.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Locatie)",
            "pattern": "^Locatie$"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Adresvoorstelling.administratieveEenheidNiveau1": {
        "title": "Adresvoorstelling.administratieveEenheidNiveau1",
        "type": "object",
        "description": "Hoogste Administratieve eenheid van het adres, doorgaans een land.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.administratieveEenheidNiveau2": {
        "title": "Adresvoorstelling.administratieveEenheidNiveau2",
        "type": "object",
        "description": "De regio van het adres, doorgaans een provincie of deelstaat of gelijkaardig gebied dat typisch meerdere plaatsen omvat.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.adresgebied": {
        "title": "Adresvoorstelling.adresgebied",
        "type": "object",
        "description": "Naam van een geografisch gebied of plaats die een aantal adresseerbare objecten groepeert om deze te adresseren zonder dat het gebied of de plaats een administratieve eenheid is. Bijvoorbeeld: de naam van het gehucht waarin het adres ligt.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.busnummer": {
        "title": "Adresvoorstelling.busnummer",
        "type": "object",
        "description": "Officieel toegekende alfanumerieke code die wordt toegevoegd aan het huisnummer om meerdere gebouweenheden, standplaatsen, ligplaatsen of percelen te onderscheiden die eenzelfde huisnummer hebben. Specialisatie van Adresvoorstelling:locatieaanduiding ten behoeve van Belgische adressen.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Adresvoorstelling.gemeentenaam": {
        "title": "Adresvoorstelling.gemeentenaam",
        "type": "object",
        "description": "Gemeentenaam van het adres.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.huisnummer": {
        "title": "Adresvoorstelling.huisnummer",
        "type": "object",
        "description": "Alfanumerieke code officieel toegekend aan gebouweenheden, ligplaatsen, standplaatsen of percelen. Specialisatie van Adresvoorstelling:locatieaanduiding ten behoeve van Belgische adressen.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Adresvoorstelling.land": {
        "title": "Adresvoorstelling.land",
        "type": "object",
        "description": "Land waarin het adres gelegen is.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.locatieaanduiding": {
        "title": "Adresvoorstelling.locatieaanduiding",
        "type": "object",
        "description": "Alfanumerieke code die de adreslocator uniek identificeert binnen de straat, administratieve eenheid etc.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Adresvoorstelling.locatienaam": {
        "title": "Adresvoorstelling.locatienaam",
        "type": "object",
        "description": "Naam of omschrijving van het het geografisch object dat de adreslocator aanduidt.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.postbus": {
        "title": "Adresvoorstelling.postbus",
        "type": "object",
        "description": "Postbusnummer in een postkantoor.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Adresvoorstelling.postcode": {
        "title": "Adresvoorstelling.postcode",
        "type": "object",
        "description": "Code waarmee het geografisch gebied dat adressen voor postale doeleinden groepeert wordt aangeduid.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Adresvoorstelling.postnaam": {
        "title": "Adresvoorstelling.postnaam",
        "type": "object",
        "description": "Naam waarmee het geografisch gebied dat adressen voor postale doeleinden groepeert wordt aangeduid.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.straatnaam": {
        "title": "Adresvoorstelling.straatnaam",
        "type": "object",
        "description": "Straatnaam van het adres.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling.volledigAdres": {
        "title": "Adresvoorstelling.volledigAdres",
        "type": "object",
        "description": "Het complete adres in één string, al dan niet geformatteerd. Vermijdt fouten ten gevolge van het opsplitsen van een adres in zijn onderdelen. Geeft de voorgeschreven volgorde van de verschillende onderdelen weer.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Adresvoorstelling": {
        "title": "Adresvoorstelling",
        "type": "object",
        "description": "Meer leesbare voorstelling met enkel de basisgegevens van het adres, bedoeld voor het gebruik van een adres als attribuut van een ander object.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Adresvoorstelling)",
            "pattern": "^Adresvoorstelling$"
          },
          "administratieveEenheidNiveau1": {
            "$ref": "#/components/schemas/Adresvoorstelling.administratieveEenheidNiveau1"
          },
          "administratieveEenheidNiveau2": {
            "$ref": "#/components/schemas/Adresvoorstelling.administratieveEenheidNiveau2"
          },
          "adresgebied": {
            "$ref": "#/components/schemas/Adresvoorstelling.adresgebied"
          },
          "busnummer": {
            "$ref": "#/components/schemas/Adresvoorstelling.busnummer"
          },
          "gemeentenaam": {
            "$ref": "#/components/schemas/Adresvoorstelling.gemeentenaam"
          },
          "huisnummer": {
            "$ref": "#/components/schemas/Adresvoorstelling.huisnummer"
          },
          "land": {
            "$ref": "#/components/schemas/Adresvoorstelling.land"
          },
          "locatieaanduiding": {
            "type": "array",
            "description": "Alfanumerieke code die de adreslocator uniek identificeert binnen de straat, administratieve eenheid etc. Lijst van String items.",
            "items": {
              "$ref": "#/components/schemas/Adresvoorstelling.locatieaanduiding"
            },
            "minItems": 1
          },
          "locatienaam": {
            "type": "array",
            "description": "Naam of omschrijving van het het geografisch object dat de adreslocator aanduidt. Lijst van LangString items.",
            "items": {
              "$ref": "#/components/schemas/Adresvoorstelling.locatienaam"
            },
            "minItems": 1
          },
          "postbus": {
            "$ref": "#/components/schemas/Adresvoorstelling.postbus"
          },
          "postcode": {
            "$ref": "#/components/schemas/Adresvoorstelling.postcode"
          },
          "postnaam": {
            "$ref": "#/components/schemas/Adresvoorstelling.postnaam"
          },
          "straatnaam": {
            "$ref": "#/components/schemas/Adresvoorstelling.straatnaam"
          },
          "volledigAdres": {
            "$ref": "#/components/schemas/Adresvoorstelling.volledigAdres"
          },
          "verwijstNaar": {
            "$ref": "#/components/schemas/BelgischAdres"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Identificator.identificator": {
        "title": "Identificator.identificator",
        "type": "object",
        "description": "String gebruikt om het object uniek te identificeren. Type van de string slaat op het identificatiesysteem (inclusief de versie ervan), de string zelf op de eigenlijke identificator.",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        },
        "required": [
          "@value",
          "@type"
        ]
      },
      "Identificator": {
        "title": "Identificator",
        "type": "object",
        "description": "Informatie gebruikt om een object uniek te identificeren.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Identificator)",
            "pattern": "^Identificator$"
          },
          "identificator": {
            "$ref": "#/components/schemas/Identificator.identificator"
          }
        },
        "required": [
          "@type"
        ]
      },
      "Contactinfo.aanschrijfvorm": {
        "title": "Contactinfo.aanschrijfvorm",
        "type": "object",
        "description": "Titel waarmee iemand wordt aangeschreven of aangesproken of waarmee naar iemand wordt verwezen. Bijvoorbeeld: De heer/Mevrouw, Excellentie, Dokter, ...",
        "properties": {
          "@value": {
            "type": "string"
          },
          "@language": {
            "type": "string",
            "pattern": "^nl$"
          }
        },
        "required": [
          "@value",
          "@language"
        ]
      },
      "Contactinfo.naam": {
        "title": "Contactinfo.naam",
        "type": "object",
        "description": "Naam van bijvoorbeeld de persoon die men kan contacteren.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Contactinfo.email": {
        "title": "Contactinfo.email",
        "type": "object",
        "description": "Email-adres waarnaar men kan mailen.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Contactinfo.faxnummer": {
        "title": "Contactinfo.faxnummer",
        "type": "object",
        "description": "Faxnummer waarnaar men kan faxen.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Contactinfo.telefoon": {
        "title": "Contactinfo.telefoon",
        "type": "object",
        "description": "Telefoonnummer waarop men kan bellen.",
        "properties": {
          "@value": {
            "type": "string"
          }
        },
        "required": [
          "@value"
        ]
      },
      "Contactinfo.website": {
        "title": "Contactinfo.website",
        "type": "object",
        "description": "Website waarnaar men kan surfen.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "pattern": "^AnyURI$"
          }
        },
        "required": [
          "@id",
          "@type"
        ]
      },
      "Contactinfo": {
        "title": "Contactinfo",
        "type": "object",
        "description": "Informatie zoals email, telefoon, adres die toelaat om iemand of iets te contacteren.",
        "properties": {
          "@id": {
            "type": "string",
            "format": "uri"
          },
          "@type": {
            "type": "string",
            "description": "Object type (klasse Contactinfo)",
            "pattern": "^Contactinfo$"
          },
          "aanschrijfvorm": {
            "$ref": "#/components/schemas/Contactinfo.aanschrijfvorm"
          },
          "naam": {
            "$ref": "#/components/schemas/Contactinfo.naam"
          },
          "email": {
            "$ref": "#/components/schemas/Contactinfo.email"
          },
          "faxnummer": {
            "$ref": "#/components/schemas/Contactinfo.faxnummer"
          },
          "telefoon": {
            "$ref": "#/components/schemas/Contactinfo.telefoon"
          },
          "website": {
            "$ref": "#/components/schemas/Contactinfo.website"
          },
          "adres": {
            "$ref": "#/components/schemas/Adresvoorstelling"
          }
        },
        "required": [
          "@type"
        ]
      }
    }
  }
}